<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [2]:
# Read CSV
wine_csv =pd.read_csv(r'C:\Users\Nour\Downloads\winequality_merged.csv')

#### 1.2 Explore Data (Exploratory Data Analysis)

In [3]:
# ANSWER
wine_csv.head(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,1
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,1
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,1
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,1
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,1
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5,1
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,1
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.9943,3.58,0.52,9.9,5,1
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.9974,3.26,1.56,9.1,5,1
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.9986,3.16,0.88,9.2,5,1
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.9986,3.17,0.93,9.2,5,1
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7,1
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.9968,3.11,1.28,9.3,5,1
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4,1
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6,1

In [4]:
wine_csv.quality.unique()

array([5, 6, 7, 4, 8, 3, 9], dtype=int64)

In [5]:
wine_csv.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

### 2. Set Target Variable

Create a target variable for wine quality.

In [6]:
# Target Variable
target =wine_csv[['quality']]
target

      quality
0           5
1           5
2           5
3           6
4           5
...       ...
6492        6
6493        5
6494        6
6495        7
6496        6

[6497 rows x 1 columns]

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [7]:
# ANSWER
predictors = wine_csv.loc[:,['volatile acidity', 'free sulfur dioxide', 'pH','sulphates']]
predictors

      volatile acidity  free sulfur dioxide    pH  sulphates
0                 0.70                 11.0  3.51       0.56
1                 0.88                 25.0  3.20       0.68
2                 0.76                 15.0  3.26       0.65
3                 0.28                 17.0  3.16       0.58
4                 0.70                 11.0  3.51       0.56
...                ...                  ...   ...        ...
6492              0.21                 24.0  3.27       0.50
6493              0.32                 57.0  3.15       0.46
6494              0.24                 30.0  2.99       0.46
6495              0.29                 20.0  3.34       0.38
6496              0.21                 22.0  3.26       0.32

[6497 rows x 4 columns]

### 4. Using Linear Regression Create a Model and Test Score

In [13]:
from sklearn.linear_model import LinearRegression as reg
from sklearn.model_selection import train_test_split

In [14]:
# Train-Test Split


X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [15]:
# Create a model for Linear Regression
X = wine_csv['free sulfur dioxide'].values.reshape(-1,1)
Y = wine_csv['quality']
reg = reg()


# Fit the model with the Training data
reg.fit(X,Y)

# Calculate the score (R^2 for Regression) for Training Data
reg.score(X_train, y_train)

# Calculate the score (R^2 for Regression) for Testing Data
reg.score(X_test, y_test)

0.0006061819102542998

### BONUS: Cross validation

In [ ]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error

In [ ]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)):
    
    # Get training and test sets for X and y
    x_trainn = train.reshape(-1,1)
    # Fit model with training set
    reg.fit(X_train,Y_train)
    # Make predictions with training and test set
    Y_train_predict = reg.predict(train)
    Y_test_predict = reg.predict(test)
    
    # Score R2 and RMSE on training and test sets and store in list
    train_score.append(reg.score(X_train,Y_train))
    
# Create a metrics_df dataframe to display r2 and rmse scores

In [ ]:
# Describe the metrics

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2021 Institute of Data


---



---