<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [2]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.18.5
Pandas:  1.1.1

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [3]:
# wrong:\


bikes = pd.read_table(r'C:\Users\Nour\Downloads\bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table(r'C:\Users\Nour\Downloads\bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table(r'C:\Users\Nour\Downloads\bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [4]:
#ANSWER:

bikes = pd.read_csv(r'C:\Users\Nour\Downloads\bikeshare.csv', header = 0)
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [5]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [6]:
df = pd.read_excel(r'C:\Users\Nour\Downloads\Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [7]:
#ANSWER
Iris_col = pd.DataFrame(df, columns= ['Species_No','Petal_width','Petal_length'])

Iris_col

     Species_No  Petal_width  Petal_length
0             1          0.2           1.4
1             1          0.2           1.4
2             1          0.2           1.3
3             1          0.2           1.5
4             1          0.2           1.4
..          ...          ...           ...
145           3          2.3           5.2
146           3          1.9           5.0
147           3          2.0           5.2
148           3          2.3           5.4
149           3          1.8           5.1

[150 rows x 3 columns]

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [8]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-04-11T10:44:47.358Z,-6.2323,104.6292,74.99,4.9,mb,NaN,95,2.496,1.13,...,2021-04-11T11:13:55.040Z,"113 km SW of Bandar Lampung, Indonesia",earthquake,9.3,8.2,0.081,48,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [9]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
df = pd.read_html(url)
df

[                             Bank Name               City State   Cert  \
 0                    Almena State Bank             Almena    KS  15426
 1           First City Bank of Florida  Fort Walton Beach    FL  16748
 2                 The First State Bank      Barboursville    WV  14361
 3                   Ericson State Bank            Ericson    NE  18265
 4     City National Bank of New Jersey             Newark    NJ  21111
 ..                                 ...                ...   ...    ...
 558                 Superior Bank, FSB           Hinsdale    IL  32646
 559                Malta National Bank              Malta    OH   6629
 560    First Alliance Bank & Trust Co.         Manchester    NH  34264
 561  National State Bank of Metropolis         Metropolis    IL   3815
 562                   Bank of Honolulu           Honolulu    HI  21029

                    Acquiring Institution       Closing Date
 0                            Equity Bank   October 23, 2020
 1              United Fidelity Bank, fsb   October 16, 2020
 2                         MVB Bank, Inc.      April 3, 2020
 3             Farmers and Merchants Bank  February 14, 2020
 4                        Industrial Bank   November 1, 2019
 ..                                   ...                ...
 558                Superior Federal, FSB      July 27, 2001
 559                    North Valley Bank        May 3, 2001
 560  Southern New Hampshire Bank & Trust   February 2, 2001
 561              Banterra Bank of Marion  December 14, 2000
 562                   Bank of the Orient   October 13, 2000

 [563 rows x 6 columns]]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [10]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [11]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [12]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [13]:
#ANSWER

bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [14]:
#ANSWER
#bike.index
bikes.iloc[:]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [15]:
#ANSWER

print(bikes['season'].head())
print(type(bikes['season']))

0    1
1    1
2    1
3    1
4    1
Name: season, dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
print(bikes[['season']].head())
print(type(bikes[['season']]))

   season
0       1
1       1
2       1
3       1
4       1
<class 'pandas.core.frame.DataFrame'>

How would we use object notation to show the first 4 rows of `atemp`?

In [17]:
#ANSWER
#bikes['atemp'][0:4]
#print(bikes.atemp[:4])
bikes.iloc[ :4,11]

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [23]:
#bikes[[0]]
#bikes[0]
#bikes[0,0]
bikes[[0,0]]

KeyError: "None of [Int64Index([0, 0], dtype='int64')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [26]:
#ANSWER
#bikes[:1]
#bikes[0:6:2]
# bikes[<start>:<stop>:<step>]

first = bikes.loc[0]
print(first)

instant                1
dteday        2011-01-01
season                 1
yr                     0
mnth                   1
hr                     0
holiday                0
weekday                6
workingday             0
weathersit             1
temp                0.24
atemp             0.2879
hum                 0.81
windspeed              0
casual                 3
registered            13
cnt                   16
Name: 0, dtype: object

What is the correct way to access the 2nd column of the DataFrame by its index?

In [33]:
#ANSWER
Scd_column = bikes.iloc[:,1]
Scd_column

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [31]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [34]:
#ANSWER
#bikes.isnull().sum().sum()
#bikes['windspeed'].isnull().sum()
np.where(bikes.isnull().sum())

(array([], dtype=int64),)

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [35]:
#ANSWER
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [36]:
#ANSWER
def divide(dividend, divisor):
    if divisor == 0:
        quotient = np.nan
    else:
        quotient = dividend / divisor
    return (quotient)

print(divide(1, 0))

print(f'\n{divide(123, 2)}')

nan

61.5

Apply the Pandas `isna` function to the following data objects:

In [37]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [38]:
#ANSWER
print(pd.isna(x), pd.isna(y))

False True

In [39]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [40]:
#ANSWER
print(pd.isna(array))

[[False  True False]
 [False False  True]]

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [41]:
#ANSWER
bikes['season'].value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [42]:
#ANSWER
print('instant:', bikes['instant'].min(), 'to', bikes['instant'].max())
print('dteday:', bikes['dteday'].min(), 'to', bikes['dteday'].max())
print('windspeed:', bikes['windspeed'].min(), 'to', bikes['windspeed'].max())

instant: 1 to 17379
dteday: 2011-01-01 to 2012-12-31
windspeed: 0.0 to 0.8507

Compute and print the overall minimum and maximum of the numeric data columns:

In [43]:
bikes.min(numeric_only=True)

instant       1.00
season        1.00
yr            0.00
mnth          1.00
hr            0.00
holiday       0.00
weekday       0.00
workingday    0.00
weathersit    1.00
temp          0.02
atemp         0.00
hum           0.00
windspeed     0.00
casual        0.00
registered    0.00
cnt           1.00
dtype: float64

In [44]:
bikes.max(numeric_only=True)

instant       17379.0000
season            4.0000
yr                1.0000
mnth             12.0000
hr               23.0000
holiday           1.0000
weekday           6.0000
workingday        1.0000
weathersit        4.0000
temp              1.0000
atemp             1.0000
hum               1.0000
windspeed         0.8507
casual          367.0000
registered      886.0000
cnt             977.0000
dtype: float64

In [45]:
bikes_min, bikes_max = (min(bikes.min(numeric_only=True)), 
                        max(bikes.max(numeric_only=True)))
bikes_min, bikes_max

(0.0, 17379.0)

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [46]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [47]:
#ANSWER
bikes['atemp'].quantile((0.1, 0.25, 0.5, 0.75, 0.9))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [48]:
type(bikes['atemp'])

pandas.core.series.Series

In [50]:
bikes.sample(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
15491,15492,2012-10-12,4,1,10,16,0,5,1,1,0.46,0.4545,0.41,0.3582,108,412,520
4716,4717,2011-07-20,3,0,7,10,0,3,1,1,0.76,0.7273,0.70,0.0000,34,76,110
2865,2866,2011-05-04,2,0,5,7,0,3,1,3,0.34,0.3030,0.93,0.3582,6,46,52
4248,4249,2011-06-30,3,0,6,22,0,4,1,1,0.70,0.6364,0.42,0.1642,43,164,207
1678,1679,2011-03-15,1,0,3,13,0,2,1,2,0.36,0.3333,0.57,0.2836,23,74,97
7435,7436,2011-11-11,4,0,11,10,1,5,0,1,0.32,0.2727,0.42,0.5522,38,162,200
9099,9100,2012-01-20,1,1,1,1,0,5,1,1,0.26,0.2727,0.48,0.1343,0,15,15
6440,6441,2011-09-30,4,0,9,22,0,5,1,1,0.52,0.5000,0.55,0.3284,30,129,159
15602,15603,2012-10-17,4,1,10,7,0,3,1,1,0.36,0.3636,0.81,0.1045,15,449,464
13522,13523,2012-07-22,3,1,7,15,0,0,0,1,0.72,0.6818,0.66,0.1045,254,370,624

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [51]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [56]:
#ANSWER
print((atemp_level))

0        (0.25, 0.5]
1        (0.25, 0.5]
2        (0.25, 0.5]
3        (0.25, 0.5]
4        (0.25, 0.5]
            ...
17374    (0.25, 0.5]
17375    (0.25, 0.5]
17376    (0.25, 0.5]
17377    (0.25, 0.5]
17378    (0.25, 0.5]
Name: atemp, Length: 17379, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

In [57]:
print(type(atemp_level))

<class 'pandas.core.series.Series'>

Here is a random sample of `atemp_level`:

In [58]:
atemp_level.sample(5)

12750    (0.75, 1.0]
13130    (0.5, 0.75]
1118     (0.25, 0.5]
5105     (0.5, 0.75]
2730     (0.5, 0.75]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [59]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

11319    mild
7542     mild
11952    mild
10269    warm
9792     mild
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [60]:
#ANSWER
bikes['atemp_level'] = atemp_level
bikes[(bikes.atemp_level == 'mild') & (bikes.season == 2)].season.count() 
# Nb. could have used any column before count() in this case

1829

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [61]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [62]:
# Cleaning Data
print('a =\n' ,a)
print('b =\n' ,b)
print('c =\n', c)
print('d =\n', d)
print('e =\n', e)

a =
 [0. 0. 0.]
b =
 [[1. 1. 1.]]
c =
 [[[7 7 4 9]
  [1 7 3 8]
  [5 5 9 8]]

 [[4 7 1 8]
  [7 9 2 1]
  [5 8 3 9]]]
d =
 [0 1 2 3]
e =
 [[1 2 3 4]
 [5 6 7 8]]

## Load Data

Load rock.csv and clean the dataset.

In [63]:
rock_csv = r'C:\Users\Nour\Downloads\rock.csv'
rock = pd.read_csv(rock_csv)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Nour\\Downloads\\rock.csv'

In [ ]:
rock.head(10)

In [ ]:
rock.describe().T

In [ ]:
rock.tail()

## Check Column Names

Check column names and clean.

In [ ]:
# Check column names
rock.columns

In [ ]:
#Columns names are not uniform.

#Uppercase, Lowercase > Lowercase
#Space > _
#?, * > Remove

In [ ]:
# function to clean column names

def clean_column_name(column_names):
    clean_column_names = []
    for c in column_names:
        c = c.lower().replace(' ', '_')
        c = c.lower().replace('*', '')
        c = c.lower().replace('?', '')
        clean_column_names.append(c)
        
    return clean_column_names

In [ ]:
rock.columns = clean_column_name(rock.columns)
rock.columns

In [ ]:
# an alternative way to clean column names

rock.columns = rock.columns.str.lower().str.replace('?','').str.replace('*','').str.replace(' ','_').str.replace('(','').str.replace(')','')
rock.columns

# Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [ ]:
# Check is there any nul values in any column
rock.isnull().sum()

In [ ]:
# Create a mask to find all rows with null values
null_mask = rock['release_year'].isnull()
rock.loc[null_mask, 'release_year'] = 0

In [ ]:
# Check is there any nul values in any column
rock.isnull().sum()

# Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [ ]:
# Check datatypes
rock.info()

In [ ]:
# Chekc values of release_year

rock['release_year'].value_counts()

In [ ]:
# Create a mask to find all rows with SONGFACTS.COM
song_facts_mask = rock['release_year'] == 'SONGFACTS.COM'
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [ ]:
# Convert release year to numeric
rock['release_year'] = pd.to_numeric(rock['release_year'])

In [ ]:
# Check data types
rock.dtypes

# Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [ ]:
def check_min_max(df):
    # Check min, max of each column
    print(df.describe().T[['min', 'max']])

In [ ]:
check_min_max(rock)

In [ ]:
# Create a mask to find all rows with 0
song_facts_mask = rock['release_year'] == 0
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [ ]:
check_min_max(rock)

In [ ]:
# Create a mask to find all rows with 0
song_facts_mask = rock['release_year'] == 1071
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [ ]:
check_min_max(rock)

# Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [ ]:
rock.dtypes

In [ ]:
def check_song(row):
    print('Song: ', row['song_clean'])
    print('Artist: ', row['artist_clean'])
    print('Released before 1970: ', row['release_year'] < 1970)
    print('\n')

In [ ]:
rock.iloc[0]

In [ ]:
# Check any row using index
check_song(rock.iloc[3])

In [ ]:
# Check first five rows
rock.head(5).apply(check_song, axis=1)

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [ ]:
def convert_to_float(column):
    column = pd.to_numeric(column, errors='coerce')
    return column

## Apply these functions to your dataset

In [ ]:
rock.apply(convert_to_float)

## Describe the new float-only DataFrame.

In [ ]:
# Describe Dataframe. All columns are float.

rock.describe()

In [1]:
rock.describe().T

NameError: name 'rock' is not defined



> 
>
>

>

>

>



---



---



> > > > > > > > > © 2019 Institute of Data


---



---